## migration files ##
*/migrations/00*
*/migrations/__py*/*
*/migrations/__py*
*/__pycache__/*

# swap files ##
*.swp
*.swo

# python temp file
*pyc

## pycache files ##
*/__pycache__/*

## DB file ##
db.sqlite3
