{% extends 'header.html' %}
{% block content %}
    <br/>
    <!-- Search and VideoList Table -->
    <div class = "container VideoBody">
      <!-- Search Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
          </div>
        </div>
        <div class = "col-2">
        </div>
      </div>
      <br/>
      <br/>
      <!-- VideoList Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">
          <table class="table table-hover VideoListTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="#" class="text-dark">Mark<a></td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="#" class="text-dark">Jacob<a></td>
                <td>Thornton</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="#" class="text-dark">Mickey<a></td>
                <td>Canada</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class = "col-2">
        </div>
      </div>
    </div>

{% endblock %}
