{% extends 'header.html' %}
{% block content %}
    <br/>
    <br/>
    <!-- Video Main  -->
    <div class = "container VideoTitleContainer">
      <!-- Video Header Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">
          <h3>{{videoRecord.video_name}}</h3>
          <button type="button" class="btn btn-outline-secondary"><a href="/Video/main/caption/{{videoRecord.video_id}}">Caption Edit</a></button>
        </div>
        <div class = "col-2">
        </div>
      </div>
      </div>
      <br/>
      <br/>
      <div class = "container VideoContentContainer">
      <!-- Video Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">
          <iframe width="640" height="360" src="{{videoRecord.video_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class = "col-2">
        </div>
      </div>
      <br/>
      <!-- Button Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-4">
        </div>
        <div class = "col-1">
          <button type="button" class="btn btn-outline-secondary"><a href="/Video/ad">Start</a></button>
        </div>
        <div class = "col-1">
          <button type="button" class="btn btn-outline-secondary"><a href="/Video/list">Back</a></button>
        </div>
        <div class = "col-5">
        </div>
      </div>
    </div>
    </div>
{% endblock %}
