{% extends 'header.html' %}
{% block content %}
    <br/>
    <!-- Video Main  -->
    <div class = "container VideoTitleContainer">
      <!-- Video Header Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">

        </div>
        <div class = "col-2">
        </div>
      </div>
      </div>
      <br/>
      <br/>
      <div class = "container VideoContentContainer">
      <!-- Video Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-8">

        </div>
        <div class = "col-2">
        </div>
      </div>
      <br/>
      <!-- Button Row -->
      <div class = "row justify-content-md-center">
        <div class = "col-9">
        </div>
        <div class = "col-1">
          <button type="button" class="btn btn-outline-secondary"><a href="/Video/add">Add Video</a></button>
        </div>
        <div class = "col-2">
        </div>
      </div>
    </div>
    </div>
{% endblock %}
