{% extends 'header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet"href="{% static 'css/container.css' %}"/>
<script type="text/javascript">
    function selectText() {
        var selectionText = "";

        if (document.getSelection) {
            selectionText = document.getSelection();
        } else if (document.selection) {
            selectionText = document.selection.createRange().text;
        }
        return selectionText;
    }

    document.onmouseup = function() {
        document.getElementById("WordList").innerHTML += selectText();
        if (selectText()!=''){
            document.getElementById("WordList").innerHTML += '</br>'
        }
    }
</script>

    <br/>
    <br/>
    <form class="studyVideo" action="#" method="POST">
    {% csrf_token %}
    <!-- Video Main  -->
    <div class = "flexBox">
      <div class = "container">
        <div class="alert alert-light alertMessage" role="alert">
          Press left bottom to play!
        </div>
        <!-- Video Header Row --> <!-- Video Row -->
        <div class = "row justify-content-md-center">
          <div class = "col-3 wordList">
            <div class="card" style="width: 18rem;">
            <div id="WordList" class="card-body">
              <h5 class="card-title">Word List</h5><br/>
            </div>
          </div>
          </div>
          <div class = "col-3 video">
            <iframe width="448" height="252" src="{{videoRecord.video_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class = "col-5">
            </div>
          <div id="caption" class = "col-4">
            {{captionRecord.text | linebreaks}}
          </div>
        </div>

        <br/>
        <br/>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
    </form>
<script src="{% static 'js/scroll-fixed.js' %}"></script>
{% endblock %}
