{% extends 'header.html' %}

{% block content %}
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">단어 테스트</h3>
                    </div>
                    <div class="panel-body">
                        <div style="text-align:center">
                            총 {{ quesNum }}문항 입니다.<br />
                            테스트를 시작하겠습니까?<br /><br />
                            <a href="/test/test"><Button>시작</Button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"> </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
