{% extends 'header.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                테스트 시작?
            </div>
            <div class="col-4"> </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-4"> </div>
            <div class="col-4">
                <a href="/Main"<Button>취소</Button></a>
                <a href="/test/test"<Button>시작</Button></a>
            </div>
            <div class="col-4"> </div>
        </div>
    </div>
{% endblock %}
