{% extends 'header.html' %}

{% block content %}
    <br/>
    <br/>
    <br/>
    <!-- Main Page -->
    <div class = "container">
        <div class = "row">
            <div class = "col-2"> </div>
            <div class = "col-6">
                {% if isAskSpell %}
                    {{questionNum}}. 다음 단어의 철자로 올바른 것은?
                {% else %}
                    {{questionNum}}. 다음 단어의 뜻으로 올바른 것은?
                {% endif %}
            </div>
            <div class = "col-4"> </div>
        </div>
        <br />
        <div class ="row">
            <div class = "col-3"> </div>
            <div class = "col-5">
                - {{ word }}
            </div>
            <div class= "col-4"> </div>
        </div>
        <br />
        <div class="row">
            <div class = "col-2"> </div>
            <div class = "col-6">
            ① {{ number1 }} <br />
            ② {{ number2 }} <br />
            ③ {{ number3 }} <br />
            ④ {{ number4 }} <br />
            ⑤ {{ number5 }}
            </div>
            <div class = "col-4"> </div>
        </div>
        <br />
        <div class="row">
            <div class = "col-7"> </div>
            <div class = "col-2">
                {% if questionNum != 1 %}
                <button>이전</button>
                {% endif %}
                <button>다음</button>
            </div>
            <div class = "col-3"> </div>
        </div>
    </div>

{% endblock %}
