
{% extends 'header.html' %}

{% block content %}
<br/>
<br/>
<main role="main" class="container">

      <div class="row">

        <div class="col-md-10 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{article.title}}</h2>
            <p class="blog-post-meta">{{article.published_date}} by <a href="#">{{article.author}}</a></p>

            <p>{{article.text}}</p>
          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="{% url 'article_voca' fk=article.pk %}">Vocabulary</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </main><!-- /.container -->

{% endblock %}