.video {
    position: fixed!important;
    padding-right: 1200px;
    padding-top: 50px;
}

.wordList {
    position: fixed!important;
    padding-right: 1200px;
    padding-top: 270px;
}

.alertMessage{
  position: fixed!important;
  padding-right: 950px;
}

.SaveButton{
  position: fixed!important;
  padding-right: 1000px;
  padding-top: 420px;
}
