.video {
    position: fixed!important;
    padding-right: 1100px;
    padding-top: 50px;
}

.wordList {
    position: fixed!important;
    padding-right: 1100px;
    padding-top: 330px;
}

.alertMessage{
  position: fixed!important;
  padding-right: 1100px;
}

.SaveButton{
  position: fixed!important;
  padding-right: 1100px;
  padding-top: 550px;
}
