{% extends 'header.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet"href="{% static 'css/sugang.css' %}"/>

<div class="container SignInstructor">
    <div class="centering text-center">

    <h1>강사 전환</h1><br><br><br>
<!--{{ user.id }}-->
    <form method="POST">
        {% csrf_token %}
        <p>강사 이름  </p>
        {{ form.name }}<br><br>
        <p>비밀번호 확인  </p>
        {{ form.i_pw }}<br>
        {{ form.i_id.as_hidden}}<br><br><br>
        <input type="submit" class="btn Sbtn" value="전환"/>
    </form>
    </div>
</div>

{% endblock %}
