{% extends 'header.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet"href="{% static 'css/sugang.css' %}"/>

<div class = "container SugangMain">
    <div class="vertical-align:middle">
        <div class="centering text-center">

<h1>수강 신청</h1><br><br>
        </div>
    {% if instructor %}

<!--{{ instructor.i_id }}
{{ user.username }}-->
<br>
        <div class="row">
            <div class="col-1">
                <input id="add" type="button" class="btn Sbtn" name="add" value="강의 개설" onclick="location.href='/sugang/addclass/'">
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-1">
                <input id="in_go" type="button"  class="btn Sbtn" name="list" value="강의 목록" onclick="location.href='/sugang/myclass/'">
            </div>
        </div>

{% else %}
<!--{{ instructor.i_id }}
{{ user.username }}-->
<br>
<div class="row">
<div class="col-1">

    <input id="In_sign" type="button" name="In_sign" class="btn Sbtn" value="강사 전환" onclick="location.href='/sugang/signInstructor/'">
</div></div>
    <div class="row"></div>
    <div class="row">
    <div class="col-1">
        <input id="st_go" type="button"  name="prev" class="btn Sbtn" value="나의 강의실" onclick="location.href='/sugang/myclass/'">
    </div>
    </div>

{% endif %}
        <div class="row">

    <div class="col-2"></div>
    <div class="col-7">

        <div class="centering text-center">
<table class = "table table-hover">
    <thead></thead>
    <tr>
        <th>번호</th>
        <th>분류</th>
        <th>강의 이름</th>
        <th>강사 이름</th>
        <th>레벨</th>
        <th>{% if not instructor %}수강신청{% endif %}</th>
    </tr>
        {%if subjects %}
        {% for subject in subjects %}
        <form  action="" method="POST">
        {% csrf_token %}

    <tr>
        <td> {{ forloop.counter }}</td>
        <td>{{ subject.sub_categorize|upper }}</td>
        <td>{{ subject.sub_name|upper }}</td>
        <td>{{ subject.i_name.name|upper }}</td>
        <td>{{ subject.lecture_level|upper }}</td>
        <td>
            {% if not instructor %}
            <input name="sign" type="hidden" value="{{subject.id}}">
            <input type="submit" class = "btn Sbtn" value="수강 신청">
            {% endif %}
        </td>
    </tr>

</form>
    {% endfor %}
    {% endif %}
    {% if not subjects %}
    <p>강의가 존재하지 않습니다.</p>
    {% endif%}
</table></div>
        </div>

</div>

    </div></div>

{% endblock %}
