{% extends 'header.html' %}
{% block content %}
    <br/>
    <!-- Sign up -->
    <form method="post" action="">
    <div class = "container VideoBody">
      <!-- 로그인  -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-10">
          <h3>로그인</h3>
          <br/>
              {% csrf_token %}
              {{ form.as_p }}
        </div>
      </div>
      <!-- 로그인 버튼 -->
      <div class = "row justify-content-md-center">
        <div class = "col-2">
        </div>
        <div class = "col-10">
            <button type="submit" class = "btn btn-outline-secondary" value="">Sign in</button>
        </div>
      </div>
      <br/>
      <br/>
    </div>
    </form>
  </body>
</html>

{% endblock %}
