{% extends 'header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet"href="{% static 'css/account.css' %}"/>

    <br/>
    <br/>
    <br/>
    <!-- Sign up -->
    <form method="post" action="">
    <div class = "container VideoBody">
      <!-- 로그인  -->
      <div class = "row justify-content-md-center">
        <div class = "col-4">
        </div>
        <div class = "col-8">
          <h3>Login</h3>
          <br/>
          <br/>
              {% csrf_token %}
              {{ form.as_p }}
        </div>
      </div>
      <br/>
      <br/>
      <!-- 로그인 버튼 -->
      <div class = "row justify-content-md-center">
        <div class = "col-7">
        </div>
        <div class = "col-1">
            <button type="submit" name="Sign" class = "btn btn-outline-secondary Vbutton" value="로그인">Sign in</button>
        </div>
        </form>
        <div class = "col-1">
            <form method="post" action="">
            {% csrf_token %}
            <button type="submit" name="Sign" class = "btn btn-outline-secondary Vbutton" value="회원가입">Sign up</button>
            </form>
        </div>
        <div class = "col-3">
        </div>
      </div>
      <br/>
      <br/>
    </div>
  </body>
</html>

{% endblock %}
