{% extends 'header.html' %}

{% block content %}

<div class = "container classroom">
    <div class="vertical-align:middle">
        <div class="centering text-center">
<p>{{ user.username }}님, 강의실에 오신 것을 환영합니다.</p>
<br>
<!--
{% if instructor %}
{{ instructor.id }}
{{ user.username }}-->

<!--{{ instructor.i_id }}
{{ user.username }}-->
            <h1>{{ subject.i_name.name }} 강사의 <br>{{ subject.sub_name}} 강의실</h1>
<br><p>강의 교재 : {{ subject.book}}</p>
<!--<p>강의의 강사입니다.</p>-->
<br>
<br>
<input id="write" type="button" name="prev" value="글 작성" class="btn" onclick="location.href='/classroom/{{subject.id}}/upload'">
<!--{% if instructor.id == subject.i_name.id %}-->

<!--
<input id="write" type="button" name="prev" value="강의 개설"
    onclick="location.href='/classroom/upload'">-->


{% endif %}

{% else %}
<!--{{ instructor.i_id }}
{{ user.username }}-->

<h1>{{ subject.i_name.name }}강사의 {{ subject.sub_name}} 강의실</h1>
<p>강의 교재 : {{ subject.book}}</p>
<p>강의의 강사가 아닙니다.</p>

{% endif %}


<br>
<table class = "table table-hover">
    <thead></thead>
        {%if boards %}
        {% for board in boards %}

    <tr>
        <td>{{ board.title }}</td>

        <td>
            <form  action="/classroom/{{subject.id}}/{{board.id}}/" method="POST">
        {% csrf_token %}
            <input name="board" type="hidden" value="{{board.id}}">
            <input type="submit"class="btn" value="글 보기">
                </form>

        </td>
    </tr>
    {% endfor %}
    {% else %}
        <br><br>
        <p>글이 존재하지 않습니다.</p>
    {% endif %}

</table>


<br>
    <input id="prev" type="button" name="prev" class="btn" value="수강 신청 페이지로" onclick="location.href='/sugang/'">
        </div>
    </div>
</div>
{% endblock %}